<%- include("./partials/header") %>

<%- include("./partials/nav") %>

<div class="h-[65vh] w-[90%] md:w-[70%] bg-red-200 mt-6 m-auto rounded">
    <h1 class="text-center text-red-600 text-3xl md:text-4xl lg:text-5xl pt-8 font-bold">About the Application</h1>
    <p class="text-red-600 text-center text-base md:text-lg lg:text-xl mt-4 md:mt-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo est <br class="hidden md:inline"> 
        nobis voluptate ducimus, doloremque cum nam cupiditate a laboriosam! <br class="hidden md:inline">
        Soluta, facere ipsa? Molestiae ipsa praesentium, omnis harum?
    </p>
    <p class="flex flex-col md:flex-row gap-6 justify-center text-lg md:text-xl pt-5">
        <a href="/end" class="bg-red-500 p-2 px-5 text-sm md:text-base lg:text-lg hover:bg-red-800 text-white rounded cursor-pointer transition-colors ease-in-out duration-300">Continue Surfing</a>
    </p>
</div>

<%- include("./partials/footer") %>
