<%- include("./partials/header")%>

<%- include("./partials/nav")%>
<div class="h-[65vh] w-[80%] bg-red-200 mt-[3%] m-auto rounded ">
    <h1 class="text-center text-[4vw] pt-[8%] font-bold text-red-600">THIS IS HOMEPAGE</h1>
    <p class="flex gap-20 justify-center text-[1.5vw] pt-5 "><a href="/end" class="bg-red-500 p-2 px-5 text-[1.1vw] hover:bg-red-800 text-white rounded cursor-pointer transition-colors ease-in-out duration-300">Continue Surfing</a> <a href="/start" class="bg-red-500 p-2 px-5 text-[1.1vw] hover:bg-red-800 text-white rounded cursor-pointer transition-colors ease-in-out duration-300">Start your journey</a></p>
</div>
<%- include("./partials/footer")%>