<%- include("./partials/header")%>

<%- include("./partials/nav")%>
<div class="flex justify-center items-center flex-col">
    <h1 class="bg-red-200 text-center text-[2vw] text-red-600 font-[900] w-[40%] rounded-[10px] margin-auto p-3 mt-20" >User Login </h1>
    <form class="w-[35%]  " action="/login-user" method="post">
        <input class="p-3 border-[2px] border-slate-300 rounded-[5px] w-[100%] mt-[4vw]" type="text" placeholder="username" name="username" id=""> <br>
        <input class="border p-3 border-[2px] border-slate-300 rounded-[5px] w-[100%] mt-[2vw] mb-[2.5vw]" type="text" placeholder="**********" name="password" id=""> 
        <a class="font-[600]" href="/forget-email">forget password ? </a> <br>
        <button  class="bg-green-700 w-full p-3 rounded mt-[10px] font-[600] text-white">Login</button> <br>
        <p class="font-[600] mt-3">Don't have an account? <a class=" text-red-600" href="/register">register</a></p>
    </form>
</div>
</div>
<%- include("./partials/footer")%>