<%- include("./partials/header")%>

<%- include("./partials/nav")%>
<div class="flex justify-center items-center flex-col">
    <h1 class="bg-red-200 text-center text-[2.5vw] text-red-600 font-[900] w-[40%] rounded-[10px] margin-auto py-[4vw] mt-20" >User Profile </h1>
  
<%- include("./partials/footer")%>